.container {
  padding: 20px;
}

.emptyMessage {
  text-align: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: 2px solid var(--red);
  border-radius: 12px;
  padding: 20px;
  background: var(--grey);
  text-align: center;
  text-transform: capitalize;
}

.detailsButton {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 12px;
}

.removeButton {
  margin-top: 10px;
  display: block;
  background: var(--red);
  color: #fff;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.backBtn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--grey);
  color: #333;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s;
}

.backBtn:hover {
  background-color: #bbb;
}


@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 950px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
