@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
  --primary: #dee2e6;

  --red: #cc282b;
  --grey: #d3d3d3;
  --grey-dark: #161a1d;
  --hover: #adb5bd;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body{
  background-color: var(--primary);
  font-family: 'Poppins', sans-serif;
}