.container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.list {
  width: 80%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.listItem {
  display: flex; 
  align-items: center;
  padding: 10px 16px;
  background-color: var(--grey);
  border: 2px solid var(--red);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--grey-dark);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.listItem:hover {
  background-color: var(--hover);
  transform: scale(1.02);
}

.image {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.name {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none; 
  color: inherit;     
  width: 100%;            
}


@media (min-width: 950px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
  .name{
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
