.pageDetails {
  display: flex;
  justify-content: center; 
  align-items: center;    
  min-height: 100vh;       
  background-color: #eaeef3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 90%;
  max-width: 800px;
  padding: 30px 20px;
  border-radius: 12px;     
  background-color: var(--grey);
  gap: 20px;
}

.pokeImage {
  width: 80%;
  max-width: 400px;
}

.pokeDetails {
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 1200px) {
  .container{
    flex-direction: row;
  }
  
}
